In [0]:
schema="""
    id int,
    name string,
    age short,
    salary double
"""

In [0]:
data_list = [(100,"Ashish",28,45000),
             (101,"Milind",29,33000),
             (102,"Ashwin",28,28000),
             ]
sample_df = spark.createDataFrame(data=data_list,schema=schema)
# .toDF("id","name","age","salary")

In [0]:
sample_df.display()

In [0]:
alternate way to create df
# data = [
#     (1, "Arjun", 28, 45000),
#     (2, "Sita", 32, 52000),
#     (3, "Vikram", 24, 38000),
#     (4, "Deepa", 29, 41000),
#     (5, "Amit", 35, 60000)
# ]
# columns = ["id","name","age","salary"]
# df_quick = spark.createDataFrame(data=data,schema=columns)
# df_quick.display()

add column in dataframe

1. increment 10% of salary upto 3000 maximum increment
2. revised salary: salary + increment

In [0]:
from pyspark.sql.functions import expr
salary_df= (
        sample_df.withColumn
            ("increment",expr("case when salary >30000 then 3000 else salary * 10/100 end"))
        .withColumn
            ("revised_salary",expr("salary+increment"))
)
            
salary_df.display()

In [0]:
# from pyspark.sql.functions import expr
# salary_df= (
#         sample_df.withColumn("increment",expr("case when salary >30000 then 3000 else salary * 10/100 end"))
#         )
# salary_df.display()